<template>
  <div class="home">

    <div class="filters">
      <div class="md-layout md-gutter">
        <div class="md-layout-item">
          <md-field>
            <label>Vehicle</label>
            <md-select
              name="vehicle"
              id="vehicle"
              multiple
              placeholder="Filter by vehicle"
              v-model="selectedVehicles"
            >
              <md-option :value="vehicle" v-for="vehicle in vehicles">{{vehicle}}</md-option>
            </md-select>
          </md-field>
        </div>

        <div class="md-layout-item">
          <md-field>
            <label>Flow ID</label>
            <md-select
              name="messageId"
              id="messageId"
              multiple
              placeholder="Filter by flow id"
              v-model="selectedMessageIds"
            >
              <md-option :value="messageId" v-for="messageId in messageIds">{{messageId}}</md-option>
            </md-select>
          </md-field>
        </div>

        <div class="md-layout-item">
          <md-field>
            <label>Sender</label>
            <md-select
              name="sender"
              id="sender"
              multiple
              placeholder="Filter by sender"
              v-model="selectedSenders"
            >
              <md-option :value="sender" v-for="sender in senders">{{sender}}</md-option>
            </md-select>
          </md-field>
        </div>
      </div>
    </div>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric width-10">Topic</th>
        <th class="mdl-data-table__cell--non-numeric width-10">Sender</th>
        <th class="mdl-data-table__cell--non-numeric width-5">Flow ID</th>
        <th class="mdl-data-table__cell--non-numeric width-10">Timestamp</th>
        <th class="mdl-data-table__cell--non-numeric">Payload</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="event in filteredEvents">
        <td class="mdl-data-table__cell--non-numeric" v-bind:style="{color: event.color}">{{event.data.topic}}</td>
        <td class="mdl-data-table__cell--non-numeric" v-bind:style="{color: event.color}">{{event.data.sender}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{event.data.messageId}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{event.data.timestamp.toLocaleString()}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{event.data}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  const colors = ['black', '#3f51b5', '#FF4081', '#2e8631'];
  let nextIndex = 0;
  const mappedColors = {};

  export default {
    name: 'events',
    data() {
      return {
        events: [],
        selectedVehicles: [],
        vehicles: [],
        selectedSenders: [],
        senders: [],
        selectedMessageIds: [],
        messageIds: [],
      }
    },
    computed: {
      filteredEvents() {
        let result = this.events;

        if (this.selectedVehicles.length) {
          result = result.filter(event => {
            return event.data.carId ? this.selectedVehicles.indexOf(event.data.carId) !== -1 : false;
          });
        }

        if (this.selectedSenders.length) {
          result = result.filter(event => {
            return event.data.sender ? this.selectedSenders.indexOf(event.data.sender) !== -1 : false;
          });
        }

        if (this.selectedMessageIds.length) {
          result = result.filter(event => {
            return  event.data.messageId ? this.selectedMessageIds.indexOf(event.data.messageId) !== -1 : false;
          });
        }

        return result.slice(0, 30);
      },
    },
    sockets: {
      'nats'(event) {
        // is log event
        if (!event.data || event.data.type) {
          return;
        }

        if (event.data === 'Success') {
          return;
        }

        if (!event.data.sender) {
          return;
        }

        event.data.timestamp = event.data.timestamp || new Date();

        if (!mappedColors[event.data.sender]) {
          mappedColors[event.data.sender] = colors[nextIndex];
          nextIndex++;
        }

        event.color = mappedColors[event.data.sender];

        if (event.data.carId && this.vehicles.indexOf(event.data.carId) === -1) {
          this.vehicles.unshift(event.data.carId);
          this.vehicles.splice(30);
        }

        if (event.data.sender && this.senders.indexOf(event.data.sender) === -1) {
          this.senders.unshift(event.data.sender);
        }

        if (event.data.messageId && this.messageIds.indexOf(event.data.messageId) === -1) {
          this.messageIds.unshift(event.data.messageId);
          this.messageIds.splice(30);
        }

        this.events.unshift(event);
        this.events.splice(50);
      },
    }
  }
</script>

<style scoped>
  table {
    width: 100%;
  }

  td {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .width-5 {
    width: 100px;
  }

  .width-10 {
    width: 200px;
  }
</style>
