<template>
  <div>
    <div class="home">
      <div class="settings">
        <h5>Simulation Configuration</h5>

        <md-field>
          <label>Update interval size</label>
          <md-input v-model="form.interval"></md-input>
          <span class="md-helper-text">Interval in seconds</span>
        </md-field>

        <md-field>
          <label>Amount of cars to track</label>
          <md-input v-model="form.amount"></md-input>
          <span class="md-helper-text">Leave empty to track all cars</span>
        </md-field>

        <div class="space-top">
          <md-button class="md-raised md-primary" v-on:click="startSimulation">Start Simulation</md-button>
        </div>

        <div>
          <md-button class="md-raised md-accent" v-on:click="stopSimulation">Stop Simulation</md-button>
        </div>

        <div>
          <md-button class="md-raised md-accent" v-on:click="restartSimulation">Restart Simulation</md-button>
        </div>
      </div>

      <l-map
        class="map"
        :zoom="zoom"
        :center="center"
      >
        <l-tile-layer :url="url"></l-tile-layer>

        <l-moving-marker
          v-for="vehicle in vehicles"
          :key="vehicle.id"
          :lat-lng="getLocation(vehicle)"
          :duration="2000"
          :icon="vehicle.icon"
        >
          <l-popup>
            <div>Current price: {{ tollValue(vehicle) }}</div>
          </l-popup>
        </l-moving-marker>

        <l-polyline
          :lat-lngs="vehicleRoute(vehicle)"
          :color="vehicle.color"
          v-for="vehicle in vehicles"
          v-if="showMap"
        ></l-polyline>
      </l-map>

    </div>

    <h5>Vehicle prices</h5>
    <ul class="mdl-list">
      <li class="mdl-list__item" v-for="vehicle in vehicles">
        <i class="material-icons" v-if="vehicle.id.indexOf('truck') !== -1">local_shipping</i>
        <i class="material-icons" v-if="vehicle.id.indexOf('veh') !== -1">directions_car</i>
        <i class="material-icons" v-if="vehicle.id.indexOf('moto') !== -1">motorcycle</i>
        <span class="mdl-list__item-primary-content">
    {{ vehicle.id }}
    </span>
        <animated-number
          :value="vehicle.toll"
          :formatValue="formatToPrice"
          :duration="300"
        />
      </li>
    </ul>

    <md-snackbar md-position="center" md-duration="2000" :md-active.sync="snackBarVisible">
      {{message}}
    </md-snackbar>
  </div>
</template>

<script>
  import {LMap, LTileLayer, LMarker, LPopup, LPolyline} from 'vue2-leaflet';
  import AnimatedNumber from 'animated-number-vue';
  import LMovingMarker from 'vue2-leaflet-movingmarker';

  const osmUrl = process.env.OSM_URL || 'https://tiles.wmflabs.org/osm-no-labels/{z}/{x}/{y}.png';
  const colors = ['#3f51b5', '#FF4081', '#2e8631', 'yellow', 'orange', 'purple', 'red', 'teal'];
  let nextColorIndex = 0;

  export default {
    name: 'mapview',
    components: {
      LMap,
      LTileLayer,
      LPopup,
      LPolyline,
      LMovingMarker,
      AnimatedNumber,
    },
    computed: {
      vehicleRoute() {
        return (vehicle) => {
          return vehicle.events.map(event => {
            return [event.lat, event.lng];
          });
        }
      },
      tollValue() {
        return (vehicle) => {
          return this.formatToPrice(vehicle.toll);
        }
      },
    },
    data() {
      return {
        form: {
          amount: 5,
          interval: 5,
        },
        url: osmUrl,
        center: [52.51781, 13.400772],
        zoom: 14,
        vehicles: [],
        snackBarVisible: false,
        message: '',
        showMap: true,
      }
    },
    mounted() {
      this.form.amount = localStorage.amount || this.form.amount;
      this.form.interval = localStorage.interval || this.form.interval;
    },
    methods: {
      formatToPrice(value) {
        return `${value.toFixed(2)}€`;
      },
      getLocation(vehicle) {
        return vehicle.marker;
      },
      saveVehicleInformation(newVehicle) {
        let vehicle = this.vehicles.find(existingVehicle => existingVehicle.id === newVehicle.id);
        if (!vehicle) {
          vehicle = {
            id: newVehicle.id,
            icon: L.icon({
              iconUrl: newVehicle.icon,
              iconSize: [21, 31],
              iconAnchor: [10.5, 15],
              popupAnchor: [4, -25]
            }),
            color: colors[nextColorIndex],
            events: [],
            toll: 0,
          };
          this.vehicles.push(vehicle);
          nextColorIndex = (nextColorIndex + 1) % colors.length;
        }

        vehicle.marker = [newVehicle.lat, newVehicle.lng];
        vehicle.events.push(newVehicle);
        this.$nextTick();
      },
      startSimulation() {
        this.axios.get('http://localhost:8760/api/start', {
          params: {
            vehicles: this.form.amount,
            interval: this.form.interval,
          }
        }).then(() => {
          this.showSnackbar('Simulation started');
          localStorage.amount = this.form.amount;
          localStorage.interval = this.form.interval;
        });
      },
      restartSimulation() {
        this.axios.get('http://localhost:8760/api/reset').then(() => {
          this.showSnackbar('Simulation restarted');
        });
      },
      stopSimulation() {
        this.axios.get('http://localhost:8760/api/stop').then(() => {
          this.showSnackbar('Simulation stopped');
        });
      },
      showSnackbar(message) {
        this.snackBarVisible = true;
        this.message = message;
      }
    },
    sockets: {
      'location.update'(event) {
        this.saveVehicleInformation(event);
      },
      'simulation.reset'() {
        this.showSnackbar('Location reset event received');
        this.vehicles = [];

        // redraw routes
        this.showMap = false;
        setTimeout(() => {
          this.showMap = true;
        }, 0);
      },
      'toll.calculated'(event) {
        const vehicle = this.vehicles.find(existingVehicle => existingVehicle.id === event.data.carId);
        if (vehicle) {
          vehicle.toll = event.data.toll;
        }
      },
    },
  }
</script>

<style scoped>
  @import "http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css";

  .map {
    height: calc(100vh - 64px - 16px - 16px);
    flex: 0 1 75%;
  }

  .settings {
    padding-right: 20px;
    flex: 0 0 25%;
  }

  .home {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
  }

  button.md-button {
    margin-left: 0;
  }

  .space-top {
    padding-top: 20px;
  }

  .material-icons {
    width: 24px;
    margin-right: 12px;
  }
</style>
