<template>
  <div class="home">

    <div class="loading-overlay" v-if="loading">
      <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
    </div>

    <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <md-field>
          <label>Logs</label>
          <md-select
            name="logs"
            id="logs"
            placeholder="Select log file"
            v-model="selectedFile"
            @input="selectFile(selectedFile)"
          >
            <md-option value="">Live</md-option>
            <md-option :value="file" v-for="file in fileNames">{{file}}</md-option>
          </md-select>
        </md-field>
      </div>
    </div>

    <md-card class="chart-wrapper">
      <stats :step="step" :current="numberOfVehiclesInCurrentStep" :average="averageNumberOfVehicles"></stats>
    </md-card>

    <md-card class="chart-wrapper">
      <usage-chart :percentage="percentage"></usage-chart>
    </md-card>

    <md-card class="chart-wrapper">
      <architecture :percentage="percentage"></architecture>
    </md-card>

    <md-card class="chart-wrapper">
      <div class="md-layout md-gutter">
        <div class="md-layout-item">
          <md-field>
            <label>Interval</label>
            <md-select
              name="interval"
              id="interval"
              placeholder="Select an interval"
              v-model="selectedAggregationInterval"
            >
              <md-option value="">All</md-option>
              <md-option :value="interval" v-for="interval in possibleAggregationIntervals">Last {{interval}} messages
              </md-option>
            </md-select>
          </md-field>
        </div>
      </div>

      <div id="chart">
        <line-chart :chart-data="series" :options="options" :style="styles"/>
      </div>
    </md-card>
  </div>
</template>

<script>
  import LineChart from '@/components/LineChart';
  import Architecture from '@/components/Architecture';
  import UsageChart from '@/components/UsageChart';
  import Stats from '@/components/Stats';

  const colors = {
    'map-matcher': '#3f51b5',
    'pollution-matcher': '#FF4081',
    'toll-calculator': '#2e8631',
    'total': '#555555',
  };

  export default {
    name: 'performance123',
    components: {
      LineChart,
      Architecture,
      UsageChart,
      Stats,
    },
    data() {
      return {
        loading: false,
        liveStatistics: {},
        loadedStatistics: {},
        fileNames: [],
        selectedFile: '',
        selectedAggregationInterval: '',
        possibleAggregationIntervals: [100, 500, 1000],
        options: {
          responsive: true,
          maintainAspectRatio: false,
          tooltips: {
            mode: 'index',
            callbacks: {
              title: (data) => `Message ID: ${data[0].xLabel}`,
              label: (data) => `${this.series.datasets[data.datasetIndex].label}: ${data.yLabel}ms`,
            },
          },
          scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Message ID',
              }
            }],
            yAxes: [{
              type: 'linear',
              scaleLabel: {
                display: true,
                labelString: 'Processing Time (ms)',
              },
            }],
          }
        },
        styles: {
          height: '500px',
        },
      };
    },
    mounted() {
      this.loadFileNames();
    },
    computed: {
      series() {
        const series = {
          labels: [],
          datasets: [],
        };

        if (!this.statistics.services || !this.statistics.services['map-matcher']) {
          return series;
        }

        const labels = this.statistics.services['map-matcher'].map(item => item.x);
        series.labels = this.getInterval(labels);

        Object.keys(this.statistics.services).forEach(service => {
          if (!this.statistics.services[service].length) {
            return;
          }

          const data = this.getInterval(this.statistics.services[service]);

          const dataset = {
            label: service,
            borderColor: colors[service],
            fill: false,
            data,
          };

          if (service === 'total') {
            dataset.backgroundColor = 'rgba(85, 85, 85, 0.2)';
            dataset.fill = true;
          }

          series.datasets.push(dataset);
        });

        return series;
      },
      statistics() {
        if (this.selectedFile) {
          return this.loadedStatistics;
        } else {
          return this.liveStatistics;
        }
      },
      percentage() {
        let chartData = {};
        if (!this.statistics.averages) {
          return {}
        }

        Object.keys(this.statistics.averages).forEach(service => {
          if (service === 'total') {
            chartData[service] = {absolute: this.statistics.averages.total, percentage: '100%'};
          } else {
            const total = this.statistics.averages.total;
            const percentage = total ? Math.ceil(this.statistics.averages[service] * 100 / total) : 0; // use 20% to show at least something
            chartData[service] = {absolute: this.statistics.averages[service], percentage: percentage + '%'};
          }
        });

        return chartData;
      },
      step() {
        return this.statistics.steps ? this.statistics.steps.length : 0;
      },
      numberOfVehiclesInCurrentStep() {
        return this.statistics.steps ? this.statistics.steps[this.statistics.steps.length - 1].numberOfVehicles : 0;
      },
      averageNumberOfVehicles() {
        if (!this.statistics.steps) {
          return 0;
        }

        const numberOfVehicles = this.statistics.steps.reduce((accumulator, currentValue) => accumulator + currentValue.numberOfVehicles, 0);
        return (numberOfVehicles / this.statistics.steps.length).toFixed(2);
      }
    },
    methods: {
      getInterval(data) {
        let interval;
        if (this.selectedAggregationInterval) {
          interval = data.slice(-this.selectedAggregationInterval);
        } else {
          interval = data;
        }

        return interval;
      },
      formatTime(value) {
        return `${value.toFixed(2)}ms`;
      },
      selectFile(name) {
        this.fileName = name;

        if (name) {
          this.loadFile(name);
        }
      },
      loadFileNames() {
        this.axios.get('http://localhost/logs').then((result) => {
          this.fileNames = result.data;
        });
      },
      loadFile(name) {
        this.loading = true;
        this.axios.get('http://localhost/logs/' + name).then((result) => {
          this.loadedStatistics = result.data;
          this.loading = false;
        });
      },
    },
    sockets: {
      'statistics'(event) {
        this.liveStatistics = event;
      },
    }
  }
</script>

<style scoped>
  .loading-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .chart-wrapper {
    padding: 20px 20px;
    margin-bottom: 40px;
  }

  .md-gutter {
    margin-bottom: 40px;
  }
</style>
