<template>
  <div class="architecture">

    <div class="service">
      <div class="service-container">
        toll-simulator
      </div>
    </div>

    <div class="service-connector"></div>

    <div class="service">
      <div class="service-time">
        <animated-number
          v-if="percentage['map-matcher']"
          :value="percentage['map-matcher'].absolute"
          :formatValue="formatTime"
          :duration="300"
        />
      </div>
      <div class="service-container blue">
        map-matcher
      </div>
    </div>

    <div class="service-connector"></div>

    <div class="service">
      <div class="service-time">
        <animated-number
          v-if="percentage['pollution-matcher']"
          :value="percentage['pollution-matcher'].absolute"
          :formatValue="formatTime"
          :duration="300"
        />
      </div>
      <div class="service-container red">
        pollution-matcher
      </div>
    </div>

    <div class="service-connector"></div>

    <div class="service">
      <div class="service-time">
        <animated-number
          v-if="percentage['toll-calculator']"
          :value="percentage['toll-calculator'].absolute"
          :formatValue="formatTime"
          :duration="300"
        />
      </div>
      <div class="service-container green">
        toll-calculator
      </div>
    </div>

    <div class="service-connector"></div>

    <div class="service">
      <div class="service-container">
        dashboard
      </div>
    </div>

  </div>
</template>

<script>
  import AnimatedNumber from 'animated-number-vue';

  export default {
    components: {
      AnimatedNumber,
    },
    props: ['percentage'],
    methods: {
      formatTime(value) {
        return `${value.toFixed(2)}ms`;
      },
    },
  }
</script>

<style scoped>
  .service-container.red {
    background-color: #FF4081;
    border-color: #FF4081;
  }

  .service-container.blue {
    background-color: #3f51b5;
    border-color: #3f51b5;
  }

  .service-container.green {
    background-color: #2e8631;
    border-color: #2e8631;
  }

  .architecture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .service-time {
    position: absolute;
    top: -20px;
  }

  .service-connector {
    flex-grow: 1;
    border-bottom: 1px solid black;
    height: 1px;
  }

  .service-container {
    border: 1px solid #555555;
    padding: 20px;
    color: white;
    border-radius: 2px;
    background-color: #555555;
  }
</style>