<template>
  <div class="stats">
    <div class="stat">
      <animated-number
        class="number"
        :value="step"
        :duration="300"
        :formatValue="formatValue"
      />
      <div class="title">Simulation Step</div>
    </div>
    <div class="stat">
      <animated-number
        class="number"
        :value="current"
        :duration="300"
        :formatValue="formatValue"
      />
      <div class="title">Cars in this step</div>
    </div>
    <div class="stat">
      <animated-number
        class="number"
        :value="average"
        :duration="300"
        :formatValue="formatDecimalValue"
      />
      <div class="title">Avg. cars per step</div>
    </div>
  </div>
</template>

<script>
  import AnimatedNumber from 'animated-number-vue';

  export default {
    components: {
      AnimatedNumber,
    },
    props: ['step', 'average', 'current'],
    methods: {
      formatValue: (value) => value.toFixed(0),
      formatDecimalValue: (value) => value.toFixed(2),
    },
  }
</script>

<style scoped>
  .stats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 15px 0;
  }

  .stat {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .number {
    font-size: 32px;
    padding-bottom: 12px;
  }

  .title {

  }
</style>