<template>
  <div class="usage-chart-container">
    <div class="usage-total">Total:&nbsp;
      <animated-number
        v-if="percentage.total"
        :value="percentage.total.absolute"
        :formatValue="formatTime"
        :duration="300"
      />
    </div>
    <div class="usage-chart">
      <div
        class="usage-chart-part" v-for="service in sortedPercentage"
        :style="{'width': service.value.percentage, 'background-color': colors[service.name]}"
      >
        <div class="usage-percentage">{{ service.value.percentage }}</div>
        <div class="usage-name">{{ service.name }}
          (
          <animated-number
            :value="service.value.absolute"
            :formatValue="formatTime"
            :duration="300"
          />
          )
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AnimatedNumber from 'animated-number-vue';

  const colors = {
    'map-matcher': '#3f51b5',
    'pollution-matcher': '#FF4081',
    'toll-calculator': '#2e8631',
  };

  export default {
    components: {
      AnimatedNumber,
    },
    props: ['percentage'],
    data() {
      return {
        colors,
      };
    },
    computed: {
      sortedPercentage() {
        const sorted = [];
        if (this.percentage['map-matcher']) {
          sorted.push({name: 'map-matcher', value: this.percentage['map-matcher']});
        }

        if (this.percentage['pollution-matcher']) {
          sorted.push({name: 'pollution-matcher', value: this.percentage['pollution-matcher']});
        }

        if (this.percentage['toll-calculator']) {
          sorted.push({name: 'toll-calculator', value: this.percentage['toll-calculator']});
        }

        return sorted;
      }
    },
    methods: {
      formatTime(value) {
        return `${value.toFixed(2)}ms`;
      },
    },
  }
</script>

<style scoped>
  .usage-chart-container {
    margin: 0 60px 40px 60px;
  }

  .usage-chart {
    margin-top: 20px;
    position: relative;
    height: 40px;
    background-color: lightgray;
    display: flex;
    border-radius: 2px;
  }

  .usage-chart-part {
    position: relative;
    border-radius: 2px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .usage-name {
    white-space: nowrap;
    position: absolute;
    top: -20px;
    transform: translateX(-50%);
    left: 50%;
  }

  .usage-chart-part:nth-child(even) .usage-name {
    top: 40px;
  }

  .usage-percentage {
    color: #fff;
  }

  .usage-total {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
</style>