<template>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{ parsedStateName }}</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <router-link class="mdl-navigation__link" to="/">Simulation</router-link>
          <router-link class="mdl-navigation__link" to="/scope">Scope</router-link>
          <router-link class="mdl-navigation__link" to="/events">Events</router-link>
          <router-link class="mdl-navigation__link" to="/performance">Performance</router-link>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Poll Dashboard</span>
      <nav class="mdl-navigation">
        <router-link class="mdl-navigation__link" to="/" v-on:click.native="close">Simulation</router-link>
        <router-link class="mdl-navigation__link" to="/scope" v-on:click.native="close">Scope</router-link>
        <router-link class="mdl-navigation__link" to="/events" v-on:click.native="close">Events</router-link>
        <router-link class="mdl-navigation__link" to="/performance" v-on:click.native="close">Performance</router-link>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <router-view/>
    </main>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        stateName: '',
      }
    },
    computed: {
      parsedStateName() {
        return `Poll Dashboard${this.stateName ? ' - ' : ''}${this.stateName}`;
      }
    },
    methods: {
      close() {
        const d = document.querySelector('.mdl-layout');
        d.MaterialLayout.toggleDrawer();
      },
    },
    watch: {
      $route(to) {
        this.stateName = to.name;
      }
    }
  }
</script>


<style>
  /*general styles*/
  .mdl-layout__content {
    display: flex;
    flex-direction: column;
  }

  .mdl-layout--large-screen-only .mdl-navigation__link {
    color: white !important;
  }

  .mdl-navigation__link:hover {
    text-decoration: none !important;
  }

  button.md-primary {
    background-color: #3f51b5 !important;
  }

  button.md-accent {
    background-color: #ff4081 !important;
  }

  /*leaflet styles*/
  path.leaflet-interactive {
    fill: none;
  }

  .leaflet-pane.leaflet-tile-pane {
    opacity: 0.7;
  }

  .md-select-menu.md-menu-content {
    max-width: fit-content;
  }

  .md-progress-spinner.md-theme-default .md-progress-spinner-circle {
    stroke: #3f51b5 !important;
  }
</style>
