<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poll Dashboard</title>
  <link rel="icon" href="<%= BASE_URL %>images/favicon.ico">
  <meta name="theme-color" content="#3f51b5">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
  <link rel="stylesheet" href="<%= BASE_URL %>css/material.min.css">
  <link rel="stylesheet" href="<%= BASE_URL %>css/style.css">
</head>
<body>
<noscript>
  <strong>We're sorry but poll-dashboard doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong>
</noscript>
<div id="app"></div>
<script defer src="<%= BASE_URL %>js/material.min.js"></script>
</body>
</html>
